@-moz-document url-prefix('chrome://browser/content/browser.xul'),
url-prefix('chrome://browser/content/browser.xhtml'),
url-prefix('chrome://browser/content/places/bookmarksSidebar.xhtml'),
url-prefix('chrome://browser/content/webext-panels.xhtml'),
url-prefix('chrome://browser/content/places/places.xhtml')
  #home-button
    display none !important

  :root[titlepreface*="᠎"]
    .tabbrowser-tab:not([pinned]) .tab-close-button,
    .titlebar-buttonbox-container,
    #alltabs-button
      display none !important

    #TabsToolbar .titlebar-spacer
      border-inline-end none

    #nav-bar
      --navbar-margin -44px
      margin-top var(--navbar-margin)
      margin-bottom 0
      z-index -100
      opacity 0
