/* Here all specific rules for user interface, extensions UI… */
@-moz-document url(chrome://browser/content/browser.xul),
  url(chrome://browser/content/browser.xhtml),
  url(chrome://browser/content/places/bookmarksSidebar.xhtml),
  url(chrome://browser/content/webext-panels.xhtml),
  url(chrome://browser/content/places/places.xhtml) {
  :root[titlepreface*="᠎"] #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
  }

  :root[titlepreface*="᠎"] #TabsToolbar {
    visibility: collapse !important;
  }

  :root[titlepreface*="᠎"] #TabsToolbar .titlebar-spacer {
    border-inline-end: none;
  }

  :root[titlepreface*="᠎"] #nav-bar {
    visibility: inherit !important;
    visibility: collapse !important;
  }

  #home-button {
    display: none !important;
  }
}
