/* Here all specific rules for user interface, extensions UI… */
@-moz-document url(chrome://browser/content/browser.xul),
url(chrome://browser/content/browser.xhtml),
url(chrome://browser/content/places/bookmarksSidebar.xhtml),
url(chrome://browser/content/webext-panels.xhtml),
url(chrome://browser/content/places/places.xhtml) {
  :root[titlepreface*="᠎"] .tabbrowser-tab:not([pinned]) .tab-close-button,
  :root[titlepreface*="᠎"] .titlebar-buttonbox-container,
  :root[titlepreface*="᠎"] #alltabs-button {
    display: none !important;
  }
  :root[titlepreface*="᠎"] #TabsToolbar .titlebar-spacer {
    border-inline-end: none;
  }

  :root[titlepreface*="᠎"] #nav-bar {
    --navbar-margin: -44px;

    margin-top: var(--navbar-margin);
    margin-bottom: 0;
    z-index: -100;
    opacity: 0;
  }

  #home-button {
    display: none !important;
  }
}
