@-moz-document url(chrome://browser/content/browser.xul),
url(chrome://browser/content/browser.xhtml),
url(chrome://browser/content/places/bookmarksSidebar.xhtml),
url(chrome://browser/content/webext-panels.xhtml),
url(chrome://browser/content/places/places.xhtml)
{
  /* :root[titlepreface*="᠎"] .tabbrowser-tab:not([pinned]) .tab-close-button, */
  /* :root[titlepreface*="᠎"] .titlebar-buttonbox-container, */
  /* :root[titlepreface*="᠎"] #alltabs-button { */
  /*   display: none !important; */
  /* } */
  /* :root[titlepreface*="᠎"] #TabsToolbar .titlebar-spacer { */
  /*   border-inline-end: none; */
  /* } */
  /**/
  /* :root[titlepreface*="᠎"] #nav-bar { */
  /*   --navbar-margin: -44px; */
  /**/
  /*   margin-top: var(--navbar-margin); */
  /*   margin-bottom: 0; */
  /*   z-index: -100; */
  /*   opacity: 0; */
  /* } */

  #firefox-view-button,
  .titlebar-spacer,
  #alltabs-button,
  #tabs-newtab-button,
  #tab-close-button,
  #new-tab-button,
  #home-button,
  #stop-reload-button,
  #forward-button,
  #back-button {
    display: none !important;
  }

  #urlbar-container {
    width: unset !important;
    margin: unset !important;
  }

  #urlbar-background {
    background-color: unset !important;
  }

  #tabbrowser-tabs {
    border-inline-start: unset !important;
    margin-inline-start: unset !important;
  }

  .titlebar-buttonbox-container {
    display: none;
  }

  #navigator-toolbox {
    flex-direction: row;
  }

  .browser-toolbar {
    background-color: transparent !important;
  }

  #titlebar {
    flex-grow: 1;
  }

  #toolbar-menubar {
    &[autohide="true"] {
      &[inactive]:not([customizing]) {
        flex: 0 !important;
      }
    }
  }

  :root:not([privatebrowsingmode], [firefoxviewhidden])
    :is(toolbarbutton, toolbarpaletteitem)
    + #tabbrowser-tabs,
  :root[privatebrowsingmode]:not([firefoxviewhidden])
    :is(
      toolbarbutton:not(#firefox-view-button),
      toolbarpaletteitem:not(#wrapper-firefox-view-button)
    )
    + #tabbrowser-tabs {
    padding-inline-start: calc(var(--tab-overflow-pinned-tabs-width) - 20px);
  }
}
